#page-create-point {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}
#page-create-point header {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#page-create-point header a {
	color: var(--title-color);
	font-weight: bold;
	display: flex; /*Isso é pra alinhar ao lado do span*/
	align-items: center; 
}
#page-create-point header a span {
	margin-right: 16px;
	background: url('/assets/arrow-left.svg');
	display: flex;
	width: 20px;
	height: 20px;
}
/*A caixa de cadastro*/
form {
	background: white;
	margin: 80px auto;
	padding: 64px; /*Preenchimento do form*/
	border-radius: 8px;
	max-width: 730px; /*width=Comprimento*/
}
/*Texto - Cadastro do ponto de coleta */
form h1 {
	font-size: 36px;
}
/*Box - Com contéudo dentro dele*/
form fieldset {
	margin-top: 64px;
	border: 0;
}
/*Box - o h2 está dentro dele*/
form legend {
	margin-bottom: 40px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
/*Texto - Itens de coleta*/
form legend h2 {
	font-size: 24px;
}
/*Texto - Selecione um ou mais itens abaixo*/
form legend span {
	font-size: 14px;
	color: var(--title-color);
}
/*Box + class - Campo onde está o label e input(nome da entidade)*/
form .field {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
	margin: 20px;
}
/*Tem dois class ao redor dos field-group*/
/*É o que mantem os inputs lado a lado*/
/*Seguindo a ordem de 1*/
form .field-group-test {
	display: flex;
	flex-direction: column;
}
/*Estado e cidade*/
/*É o que mantem os inputs lado a lado*/
/*Seguindo a ordem de 2, dentro do field-group-test*/
form .field-group-call {
	display: flex;
}
/*Box + Class - Endereço e Número/Complemento*/
form .field-group {
	display: flex;
}
form input,
form select {
	background-color: #e9e5e5;
	border: 0;
	padding: 16px 24px;
	font-size: 16px;
	border-radius: 8px;
	outline: none;
}
form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
form label {
	font-size: 14px;
	margin-bottom: 8px;
}
/*Espaço ao redor padrão dessas class*/
form .field-group + .field-group-test + .field-group-call .field + .field {
	margin-left: 24px;
}
/*O jeito do botão*/
form button {
	width: 260px;
	height: 56px;
	background-color: var(--primary-color);
	border-radius: 8px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: 0;
	margin-top: 40px;
	margin-left: 20px;
	transition: 400ms; /*O trasition que faz o efeito de tempo ao button:hover*/
}
form button:hover {
	background-color: #2fb86a;
}
.items-grid li {
	display: grid;
	grid-template-columns: 1fr 1fr, 1fr;
	gap: 16px;
}
.items-grid li {
	background-color: #f5f5f5;
	list-style: none;

	border: 2px solid #f5f5f5;
	border-radius: 8px;

	height:180px;

	padding: 32px 24px 16px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	cursor: pointer;
}
.items-grid li span {
	margin-top: 12px;
	flex: 1;
	display: flex;
	align-items: center;
	color: var(--title-color);
}
.items-grid li.selected {
	background: #e1faec;
	border: 2px solid #34cb78;
}
.items-grid li img,
.items-grid li span {
	pointer-events: none;
}